*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url('img/fundo.jpg');
	background-size: 100vw 100vh;
	font-family: Arial;
	height: 100vh;
}
@media (min-width: 300px){
	body {
		font-size: 2em;
	}
}
@media (min-width: 600px){
	body {
		font-size: 6px
	}
}
@media (min-width: 800px){
	body {
		font-size: 8px
	}
}
@media (min-width: 700px){
	body {
		font-size: 10px
		
	}
}
header {
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}
.links {
	background-color: #021125;
	position: fixed;
	width: 100vw;
	top: 0;
}
.links ul {
	display: flex;
	justify-content: space-around;
}
.links li {
	list-style: none;
}
.links a {
	display: block;
	padding: 13px 13px;
}
a {
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-decoration: none;
	font-size: 16px
}
a:hover {
	text-decoration: underline;
	color: cornflowerblue;
}
.tres,
.subtitulo {
	color: white;
	line-height: 30px;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 20px;
}
.portifolio{
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-align: center;

}
.portifolio h2 {
	text-align: center;
	padding: 20px;
	background: #021125;
}
.img-portfolio {
	height: 180px;
	width: 180px;
	margin: 20px;
}
.titulo {
	font-size: 26px;
	font-family: 'Press Start 2P', cursive;
	color: white;
	text-align: center;
	line-height: 30px;
}


