*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url('img/fundo.jpg');
	background-size: 100vw 100vh;
	font-family: Arial;
	height: 100vh;
}
@media (min-width: 300px){
	body {
		font-size: 10px
	}
}
@media (min-width: 600px){
	body {
		font-size: 12px
	}
}
@media (min-width: 800px){
	body {
		font-size: 14px
	}
}
@media (min-width: 700px){
	body {
		font-size: 16px
		
	}
}
@media (min-width: 5000px){
	body {
		font-size: 26px;
	}
}
header {
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}
.links {
	background-color: #021125;
	position: fixed;
	width: 100vw;
	top: 0;
}
.links ul {
	display: flex;
	justify-content: space-around;
}
.links li {
	list-style: none;
}
.links a {
	display: block;
	padding: 13px 13px;
}
a {
	color: white;
	text-decoration: none;
	font-size: 16px
}
a:hover {
	text-decoration: underline;
	color: cornflowerblue;
}
.tres,
.subtitulo,
.titulo {
	color: white;
	font-family: Arial;
	text-align: center;
}
.tres{
	font-style: italic;
}
.portifolio{
	color: white;
	font-family: Arial;
}
.img-portfolio {
	height: 180px;
	width: 180px;
}

